.carrusel{
    width: 100%;
    min-height: 50vh;
}

.contendorImg{
    width: 100%;
    min-height: 50vh;
}

.contendorImg img{
    width: 100%;
    min-height: 50vh;
    object-fit: cover;
    object-position: center;
}